<section class="landing-section bg-black h-screen w-full text-center relative overflow-hidden" data-header-color='black'>
    
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-36 text-[40px] font-medium"> Model Y</h2>
            <p class="text-black text-sm underline">Concertar una prueba de conducción</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-4 flex mx-auto">
                <a href="#" class="bg-gray-600 border-b-gray-600 font-medium text-sm text-white rounded px-12 py-2 inline-block
                 hover:bg-white hover:text-black transition-colors">Explorar Inventario</a>
                 <a href="#" class="bg-white font-medium
                 border-white text-sm rounded px-12 py-2 inline-block hover:bg-black hover:border-b-gray-600 hover:text-white transition-colors">Pedido personalizado</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full z-10 w-full ">
        <img src="/modely.avif" alt="Model y" class="h-full w-full object-cover object-center"/>
    </div>
</section>